.DS_Store
.idea
mysql
.history
.vscode

##########BACKEND
/backend/.idea
/backend/node_modules
/backend/package-lock.json

#Sensitive cfg files.
/backend/cfg

##########FRONTEND
frontend/.eslintcache
frontend/node_modules
frontend/package-lock.json