.taskListItem {
    transition: border 100ms ease-in-out;
    border: 1px solid rgba(0,0,0,0);
}

.taskListItem:hover {
    border-top: 1px solid rgba(0, 0, 0, 0.06) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06) !important
}

.taskListItem:hover .taskListBtns {
    opacity: .5;
}

.taskListBtns {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    font-size: small;
}

.taskListBtns:hover {
    opacity: 1!important;
}

.ant-list-item-meta-content {
    width: 100% /* Task description full width on small display.*/
}